.nav {
  background-color:#4056A1;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5em;
  height: 120px;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.row2 {
  display: flex;
  flex-basis: 60%;
  justify-content: flex-end;
  /* border: 2px dashed brown; */
}

.heading {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
}