#tweet-container {
  position: relative;
  margin: auto;
}

.tweet:hover {
  box-shadow: 5px 10px #4057a1c4;
  color: rgb(58, 54, 54);
  border: 3px solid rgb(41, 58, 105);
}

.tweet {
  background-color: #f4f1ec;
  height: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 3px solid rgb(121, 118, 118);
  color: grey;
  font-family: 'Source Sans Pro';
  margin-bottom: 2em;
}

.tweetData {
  padding-bottom: 20px;

  border-bottom: 3px solid rgb(121, 118, 118);
  font-size: 20px;
  margin: 20px;
}

.handle{
  display: none;
  color: darkblue;
  opacity: 30%;
  float: right;
  font-size: 35px;
  margin: 20px;
}


.tweet header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.2rem;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.name {
  font-size: 2em;
}

.date {
  margin: 20px;
}

.icons {
  padding-right: 20px;
  padding-bottom: 25px;
  float: right;
}

.avatar {
  width: 60px;
  height: 60px;
  padding: 0;
  font-size: 75px;
}